* {
  font-family: "SauceCodePro Nerd Font Mono", "SauceCodePro NFM", monospace;  font-size: 16px;
  border: none;
  background: transparent;
}

window#waybar {
  background-color: #1e1e2e;
  color: #d0d0d0;
  border-bottom: 1px solid #2a2a3a;
}

#workspaces button {
  background: transparent;
  color: #d0d0d0;
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#workspaces button.focused {
  background-color: #c678dd;
  color: #1e1e2e;
}

#workspaces button:hover {
  background-color: #ccccff;
  color: #1e1e2e;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray {
  padding: 0 10px;
  margin: 0 5px;
  background-color: #2a2a3a;
  border-radius: 5px;
}

#battery.warning {
  color: #ff5370;
}

#battery.charging {
  color: #a6e22e;
}

#tray > .passive {
  opacity: 1;
}

#tray > .active {
  color: #ccccff;
}

#tray > .needs-attention {
  color: #ff5370;
}
/* Power group styling */
#custom-power,
#custom-quit,
#custom-lock, 
#custom-reboot {
  padding: 0 10px;
  margin: 0 2px;
  background-color: #2a2a3a;
  border-radius: 5px;
  color: #d0d0d0;
}

#custom-power {
  color: #ff5370;
}

#custom-quit {
  color: #ff9e64;
}

#custom-lock {
  color: #7aa2f7;
}

#custom-reboot {
  color: #9ece6a;
}

/* Add hover effects for the power buttons */
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
  background-color: #3a3a4a;
  color: #ccccff;
}
