// Colors
$bg-color: #292b2e;
$fg-color: #fdf6e3;
$accent-color: #1a1a1a;
$workspace-focused-color: #268bd2;
$pulseaudio-color: $workspace-focused-color;
$memory-color: #2aa198;
$cpu-color: #6c71c4;
$battery-color: #859900;
$disk-color: #b58900;

* {
    font-size: 15px;
    font-family: monospace;
}

window#waybar {
    background: $bg-color;
    color: $fg-color;
    #workspaces,
    #clock
    #pulseaudio,
    #memory,
    #cpu,
    #battery,
    #disk,
    #tray {
        background: $accent-color;
    }

    #workspaces {
        button {
            padding: 0 5px; // Increased padding to 5px
            color: $fg-color;

            &.focused {
                color: $workspace-focused-color;
            }

            &:hover {
                box-shadow: inherit;
                text-shadow: inherit;
                background: $accent-color;
                border: $accent-color;
                padding: 0 5px; // Increased padding to 5px
            }
        }
    }

    #pulseaudio {
        color: $pulseaudio-color;
    }

    #memory {
        color: $memory-color;
    }

    #cpu {
        color: $cpu-color;
    }

    #battery {
        color: $battery-color;
    }

    #disk {
        color: $disk-color;
    }

    #clock,
    #pulseaudio,
    #memory,
    #cpu,
    #battery,
    #disk {
        padding: 0 10px;
    }
}
